.card {
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.container {
  padding-bottom: 40px;
}

mat-chip {
  margin: 5px;
}

mat-chip-list {
  display: flex;
  flex-wrap: wrap;
}

/* Increase the font size and make the product name bold */
.product-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Keep the price same size but bold */
.product-price {
  font-weight: bold;
}
